.register{
    padding:100px 0;
  }
  .login_wrap {
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
  .register-wrap{
    padding:8%;
    background:#fff;
  }
  .heading_s1 h3{
    font-weight: 700;
  }
