.admin{
    display:flex;
}
.admin-sidebar{
    width: 250px;
    height: 100vh;
    background-image: url(https://image.freepik.com/free-photo/beautiful-wide-shot-eiffel-tower-paris-surrounded-by-water-with-ships-colorful-sky_181624-5118.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.admin-sidebar-logo{
    display:flex;
    padding:10px 20px;
    align-items: center;
    justify-content: center;
}
.admin-sidebar-login-img{
   width: 60%;
}
.admin-sidebar-nav{
    display:flex;
    flex-direction: column;
    padding:10px 0 10px 25px;
}
.admin-sidear-nav-item{
    display:flex;
    color:#fff;
    align-items: center;
    font-weight: 300;
    font-size: 18px;
    margin:10px 0;
    cursor: pointer;
}
.admin-sidear-nav-item span{
    margin-left: 15px;
}
.admin-main{
    flex:1;
}
.AdminProduct{
    width: 100%;
}
.admin-title{
    text-align: center;
    margin:20px 0;
    color:#000;
}
.admin-control{
    text-align: right;
}
.AdminProduct-list{
    margin-top: 20px;
    max-height: 80vh;
    overflow-y: scroll;
}
.ck-content h1,.ck-content h2,.ck-content h3,.ck-content h4,.ck-content h5,.ck-content h6{
    color:#000;
}
.ck-editor__editable_inline { height: 400px }
.product-thumbnail{
    width: 15%;
  }
  .product-thumbnail img{
    width: 100%;
  }
  .product-name{
    width: 25%;
  }
  .order-admin{
      height: 100vh;
      overflow-y: scroll;
  }